<div id="<%= dom_id charge %>">
  <p>
    <strong>Uid:</strong>
    <%= charge.uid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= charge.status %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= charge.payment_method %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= charge.amount %>
  </p>

  <p>
    <strong>Error message:</strong>
    <%= charge.error_message %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= charge.response %>
  </p>

</div>
